@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root{
    /* #4AC353 */
    --primary-color:#4AC353;
    --dark-gray:#6B7280;
    --off-white: #F3F4F6;
}

h1{
    font-size: 1.5em;
}

body{
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}
.margin-md{
    margin:2rem;
}

ul>li{
    margin-top: 20px;
}

hr{
    margin: 1rem 0rem;
}

.container{
    padding: 0rem 1rem;
}

.container-center{

    max-width: 600px;
    margin:auto;
}

.primary-link{
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
}

.secondary-link{
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}


.link{

    text-decoration: none;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 10px;
}
.link-active{
    font-weight: bold;
}
.li{
    text-decoration: none;
}

.list-non-bullet{

    list-style: none;
}
.list-item-inline{
    display: inline;
    padding: 0rem 0.5rem;
}

.navigation{
    background-color: var(--primary-color);
    color: white; 
    padding: 1rem;
    border-bottom-left-radius: 1rem;
    position: sticky;
    top:0;
}

.navigation .nav-brand{

    font-weight: bold;
    font-size: 1.1rem;
}

.navigation .nav-pills{
    text-align: right;
    /* display: flex;
    justify-content: center; */
}

.navigation .link{

    color: white;
}

.navigation .nav-active{
    font-weight: bold;
}

.hero{
    padding:0rem;
padding-top: 3rem;
}

.hero .hero-img{
    max-width: 350px;
    border-radius: 50%;
    display: block;
    margin:auto;
}

.hero .hero-heading{
    padding-top: 1rem;
    color: var(--dark-gray);
    text-align: center;
    
}

.hero .hero-heading .heading-inverted{
    color: var(--primary-color)
}

.section{
    padding: 2rem;
    
}

.section h1 {
    text-align: center;
    
}

.ow{
    background-color: var(--off-white);

}

.footer{
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
}

.footer .link{

    color: white;

}
.footer .footer-header{

    font-weight: bold;
    font-size: large;
}

span {
    display: inline-block;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    
}
#html {
     max-width: 1.25rem; 
     max-height: 1.25rem;
}
#w1 {
    padding-top:0.5rem;
    padding-left: 0.1rem;
    padding-right: 0.2rem;
    border-style: outset;
    border-color: var(--primary-color);
}
#css {
    max-width: 1.25rem;
    max-height: 1.25rem;
}
#w2 {
    padding-top:0.5rem;
    padding-left: 0.1rem;
    padding-right: 0.2rem;
    border-style: outset;
    border-color: var(--primary-color);
}
#js {
    max-width: 1.25rem;
    max-height: 1.25rem;
}
#w3 {
    padding-top:0.5rem;
    padding-left: 0.1rem;
    padding-right: 0.2rem;
    border-style: outset;
    border-color: var(--primary-color);
}
#njs {
    max-width: 1.5rem;
}
#w4 {
    padding-top:0.5rem;
    padding-left: 0.1rem;
    padding-right: 0.2rem;
    border-style: outset;
    border-color: var(--primary-color);
}

#ntly {
    max-width: 1.1rem;
}
#wh {
    padding-top:0.3rem;
    padding-left: 0.1rem;
    padding-right: 0.2rem;
    border-style: outset;
    border-color: var(--primary-color);
}
#githb {
    max-width: 1rem;
}
#vcs2 {
    padding-top:0.3rem;
    padding-left: 0.1rem;
    padding-right: 0.2rem;
    border-style: outset;
    border-color: var(--primary-color);
}


.butt:hover{
    background-color: black;
    border-bottom-right-radius: 20px;
   border-top-left-radius: 20px;
   border-bottom-left-radius: 20px;
   border-top-right-radius: 20px;
}

#gito{
    max-width: 2rem;
}

.flexr{
    display: flex;
    flex-wrap: wrap;
}

.project-list{display:flex; flex-direction:column-reverse; }

.blog-btn{
    background-color: #4AC353;
    padding: 15px;
    font-size: medium;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    
}

.blog-btn a{
    text-decoration: none;
    color: white;
}

.blog-btn:hover{
    background-color: black;
}



